<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Prof G.O. Akpokodje/Downloads/TeamPostman_Basic_Web_Test_Automation_Tasks/KongaTestProject/KongaTestProject">
        <classes>
            <class name="KongaOrderTest"/>
        </classes>
    </test>
</suite>